*.pyc
*.*~
*.csv
/venv/
/env/
/static/
/media-root/
**/static/**/images/
**/static/**/fonts/
**/static/**/img/
**/static/**/cover/
/media/
*.sqlite3
local_*
db.json
*.sql
/scholarium@piokg.de/
/misesat/settings/production.py
/misesat/settings/local.py
