{% extends "projekte/base-view.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '/projekte/css/box.css' %}">

<div id="content">
  <div class="container index-link"><p><a href="{% url 'framework:home' %}">mises.at</a> / <a href="{% url 'projekte:list' %}">Projekte</a> / {{ projekt.titel }}</p></div>
  <div class="container">
    <div class="row style-space--bottom">
      <h1>{{ projekt.titel }}</h1>
    </div>
    <div class="one-third column h-centered">
    </div>
  </div>
  <h2>Beschreibung</h2>
  <p>{{ projekt.beschreibung |safe}}</p>

  <div class="container">
    <br>
    <progress value="{{ projekt.prozent }}" max="100"></progress>

    <p class=""><b>{{ projekt.prozent|floatformat:1 }}%</b> finanziert{% if projekt.ziel > projekt.spenden %} - Noch {{ projekt.fehlend }}€ bis zum Finanzierungsziel{% endif %}</p>
    <br>
  </div>
  <div class="h-centered" style="width: 100%">
    <h3>Dieses Projekt unterstützen</h3>
  </div>

  <div class="container grid" style="justify-content: center;">
    <button class="btn-donate btn-link button-text" onclick="window.location.href='mailto:&#105;nf&#111;&#064;&#109;&#105;se&#115;.&#97;&#116;'">Kontakt</button>
    <form name="_xclick" action="https://www.paypal.com/at/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="info@scholarium.at">
      <input type="hidden" name="item_name" value="Spende_{{ projekt.slug }}">
      <input type="hidden" name="currency_code" value="EUR">
      <input id="pp_amount" type="hidden" name="amount" value="{{ stufe.betrag }}">
      <input type="hidden" name="shipping" value="0">
      <input type="hidden" name="no_shipping" value="1">
      <button type="submit" name="submit" class="btn-btc btn-link h-block button-text" style="background-image: url({% static '/projekte/images/PayPal.svg' %}); background-position: center; width: 14em;">
    </form>
  </div>
  {% if stufen %}
  
  <div style="display: block; width: 100%; overflow: hidden;">
  <div class="centered" style="max-width: 20em; padding: 5px;">
    <div class="" style="width: 100%; display: block; float: left;">
    

      <form method="POST">{% csrf_token %}
        {{ spendenform.non_field_errors }}
        <div class="fields">
          {{ spendenform.Vorname.errors }}
          {{ spendenform.Vorname }}
          {{ spendenform.Nachname.errors }}
          {{ spendenform.Nachname }}
          {{ spendenform.Email.errors }}
          {{ spendenform.Email }}
          {{ spendenform.Stufe.errors }}
          <div id="stufenselect">{{ spendenform.Stufe }}</div>
          <input type="submit" class="centered h-extra-space__top" value="Abschicken">
        </div>
      </form>
    
    </div>
    
  </div>
</div>
  <div class="" style="margin-right: 10%; margin-left: 10%;">
    <h3 style="text-align: center;" class="h-extra-space__top h-extra-space__bottom">Unterstützungsstufen</h3>
      {% for stufe in stufen %}
        <div style="display: block; width: {{ fields }}%; float: left;"><div><h4 style="text-align: center;">{{ stufe.betrag }}€</h4></div><div class="vorteil">{{ stufe.vorteile }}</div></div>
      {% endfor %}
  </div>
{% endif %}
</div>


{% endblock content %}
